<!DOCTYPE html>
<html>

<head>
  <title>Bartertown</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal darken-1">
        <% if (user) { %>
          <a href="/profile" class="brand-logo center">Bartertown</a>
          <ul class="left">
            <li><a href="/profile" class="left"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="/proposals"><i class="material-icons left">public</i>Explore Trades</a></li>
          </ul>          
        <% } else { %>
          <a href="/" class="brand-logo center">Bartertown</a>
        <% } %>
        <ul class="right">
          <li>Hi, <%= name %></li>
          <li>
            <% if (user) { %>
              <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
              <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>