<%- include('../../partials/header') %>
<form action="/profile?_method=PUT" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="email">Email:</label>
    <input type="email" name="email">
    <button type="submit">Submit</button>
</form>

<%- include('../../partials/footer') %>