

.prop-card {
  width: 100%;
  height: 200px;
  background: linear-gradient(rgb(194, 183, 174), grey);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  position: relative;
  margin: 0;
}

.prop-card img {
  height: 100%;
}

.prop-card p {
  background: linear-gradient(rgba(0, 0, 0, 0.65), black);
  font-size: 20px;
  text-align: center;
  color: rgb(202, 199, 199);
  width: 100%;
  margin: 0;
  z-index: 2;
}

.car-anchor {
  text-decoration: none;
}

.prop-card img {
  position: absolute;
  width: 100%;
}

.tiny-name {
  color: rgba(0, 0, 0, 0.882);
  text-align: left;
  font-size: 20px;
  padding: 3px;
  z-index: 2;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
  margin: 0;
}

.show-view-image {
  width: 300px;
  height: 225px;
}

.icon-couplet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 20px;
}

.no-pad {
  padding: 0 !important;
}