.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

.prop-card {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  background: linear-gradient(rgb(194, 183, 174), grey);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.56);
  position: relative;
}

.display-all {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.prop-card p {
  background: linear-gradient(rgba(0, 0, 0, 0.65), black);
  font-size: 20px;
  text-align: center;
  color: rgb(202, 199, 199);
  padding: 5px;
  width: 100%;
  margin: 0;
  z-index: 2;
}

.car-anchor {
  text-decoration: none;
}

.prop-card img {
  position: absolute;
  width: 200px;
}

.tiny-name {
  color: rgba(0, 0, 0, 0.587);
  text-align: left;
  font-size: 20px;
  padding: 3px;
  z-index: 2;
  background: none;
  margin: 0;
}
